<ion-view title="">
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear no-animation"
      ng-click="openPopover($event)">
      Popover
    </button>

    
  </ion-nav-buttons>

  <ion-slide-box pager-click="slide(index)" on-slide-changed="slideChanged(index)" class="main-slide">
    <ion-slide>

    <div class="card">
      <div class="item item-text-divider">
        Daily Deal
      </div>

       <div class="item item-image">
        <img data-src="holder.js/276x129/random" alt='Thumbnail' holder>
      </div>

      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>

     <div class="card">
      <div class="item item-text-divider">
        Weeklong Deals
      </div>

      <ion-slide-box does-continue="true" auto-play="true" show-pager="false">

        <ion-slide>
          <div class="item item-image">
            <img data-src="holder.js/200x80/random" alt='Thumbnail' holder>
          </div>
        </ion-slide>

         <ion-slide>
          <div class="item item-image">
            <img data-src="holder.js/200x80/random" alt='Thumbnail' holder>
          </div>
        </ion-slide>

         <ion-slide>
          <div class="item item-image">
            <img data-src="holder.js/200x80/random" alt='Thumbnail' holder>
          </div>
        </ion-slide>
      </ion-slide-box>

      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>
      
    </ion-slide>

    <ion-slide>
      
    </ion-slide>

    <ion-slide>
      <h3>All items on sale</h3>
      
    </ion-slide>
  </ion-slide-box>
</ion-view>
